* {
    font-family: Arial, Helvetica, serif;
}

body {
    margin: 0;
}

.HeaderBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: black;
    height: 50px;
    width: 100%;
    z-index: 10;
}

.HeaderBanner img {
    height: 50px;
}

.HeaderBanner a:link,
a:visited,
a:link:active,
a:visited:active,
a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.HeaderBanner p:hover {
    border-bottom: white solid 1px;
}

.HeaderBanner p {
    font-size: large;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 800px;
}

.GridTitle {
    display:flex;
    margin-top: 50px;
    margin-left: 10px;
}

.BaselArchi {
    display: flex;
    grid-row: 1/4;
    grid-column: 3;
    margin-top: 60px;
    margin-bottom: 10px;
    justify-content: center;
}

.BaselArchi img {
    max-height: 600px;
}

.StreetFood {
    display: flex;
    grid-row: 2/5;
    grid-column: 2;
    margin-top: 60px;
    margin-bottom: 10px;
    justify-content:flex-end;
}


.ZoneText {
    position: absolute;
    font-size: larger;
    width: 40vw;
    margin-top: 0px;
    z-index: 11;
    color: white;
}

footer {
    margin-top: 100px;
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
}